.homeTitleContainer {
  text-align: center;
  margin: 20px 0;
}

.homeButtonsContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  width: 100%;
}

.homeFormContainer {
  justify-content: center;
  align-items: center;
  width: 100%;
}

.priceTitle {
  color: var(--brand);
}

@media (max-width: 991.98px) {
  .homeTitleContainer {
    margin-top: 24px;
  }
}
