.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 64px;
  gap: 0.5rem;
  border-radius: 8px;
  cursor: pointer;
  transition:
    transform 0.06s ease-in-out,
    opacity 0.2s;
  width: 100%;
}
.button:hover {
  opacity: 0.95;
}
.button:active {
  transform: translateY(1px);
}

.buttonPrimary {
  background-color: var(--primary);
  color: var(--secondary);
  border: 1px solid var(--border);
}

.buttonSecondary {
  background-color: var(--secondary) !important;
  color: var(--primary);
  border: 1px solid var(--border-dark);
}

.buttonForm {
  background-color: var(--brand) !important;
  color: var(--secondary);
  border: 1px solid var(--brand);
}

.buttonDisabled {
  background-color: var(--brand-light) !important;
  color: var(--primary);
  border: 1px solid var(--brand-light);
  cursor: not-allowed !important;
}

.buttonSm {
  min-width: 64px;
}

.buttonMd {
  min-width: 128px;
}

.buttonLg {
  min-width: 256px;
}
